@CHARSET "US-ASCII";
#chat-message-area-div{
	width: 500px;
	position: absolute;
    top: 50%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
}

#chat-main-div{
	width: 500px;
	display: none;
}