.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

body {
	position: fixed;
	min-width: 600px + 400px;
	min-height: 50px + 450px;
}

#mainheading {
	margin-top: 55px;
	color: lime;
}

#drumkit_div {
	position: fixed;
    left: 0;
    bottom: 0;
    width: calc(100% - 400px);
    height: calc(100% - 50px);
}

div.horizontal {
    display: flex;
    justify-content: center;
}

div.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#drumkit {
	min-width: 600px;
	min-height: 450px;
}

#effects {
	position: absolute;
	pointer-events: none;
}

.eff {
	opacity: 0;
}

.cursornames {
	float: right;
	color: white;
	text-shadow: 1px 1px 4px #000000;
	size: 8px;
}