.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#mainheading {
	margin-top: 55px;
	color: lime;
}

#drumkit {
	position: absolute;
	top: 200;
	left: /*100*/auto;
}

#effects {
	pointer-events: none;
	position: absolute;
	top: 200;
	left: 100;
}

.eff {
	opacity: 0;
}

.cursornames {
	float: right;
	color: white;
	text-shadow: 1px 1px 4px #000000;
	size: 8px;
}

body {
	background-color: grey;
}